{% extends '../estaticos/base.html' %}

{% block content %}
<div class="text-center">
    <form method="post"> {% csrf_token %}
        <div class="row">
            <div class="col-sm-6"> 
                <div class="card" style="width: 40rem; padding: 2rem; margin-top: 3rem; margin-left: 3rem;">
                    <div class"card-body">
                        <h2 class="card-title">Cadastrar Usuario</h2>
                        <p class="">Preencha os campos abaixo</p>            
                        <div class="form-group">
                            <label for="InputNome" style="float:left;">Nome Completo</label>
                            <input type="text" class="form-control" id="InputNome" name="nome" placeholder="Nome Completo" required>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail" style="float:left;">Telefone</label>
                            <input type="email" class="form-control" id="InputEmail" name="email" placeholder="example@email.com" required>
                        </div>
                        <div class="form-group">
                            <label for="InputSenha" style="float:left;">Senha</label>
                            <input type="password" class="form-control" id="InputSenha" name="senha" required>
                        </div>                        
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
