{% extends '../estaticos/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top: 5%; display:inline-block">
    {% if messages %}
        {% for message in  messages %}
            <div class="alert alert-{{ message.tags}}" role="alert" style="transition-duration: 2s"><span>{{message}}</span></div>
        {% endfor %}
    {% endif %}
    
    <div class="col-md-6" style="display:inline-block">
        <h1 class="page-header">Clientes</h1>
    </div>
    <div class="col-md-2" style="display:inline-block; float:right">
        <form action="{% url 'cadastro-cliente' %}"> {% csrf_token %}
            <button id="novo-cliente" type="submit" class="btn btn-primary btn-block">Novo Cliente</button>
        </form>
    </div>

    <div class="col-md-12">
        <table class="table table-hover" id="minhaTabela">
            <thead>
                <tr scope="row">
                    <th class="col-2" scope="col">ID</th>
                    <th class="col-4" scope="col">Nome</th>
                    <th class="col-4" scope="col">Telefone</th> 
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            </tbody>
                {% if not clientes %}
                <tr scope="row">
                    <td class="col-2" colspan="5" style="">"Não foram encontrados clientes cadastrados.</td>
                </tr>
                {% else %}
                <tr scope = "row" >
                    {% for cliente in  clientes%}
                    <td class="col-2">{{cliente.id}}</td>
                    <td class="col-4">{{cliente.nome}}</td>
                    <td class="col-4">{{cliente.telefone}}</td>
                    <td>
                        <a href="{% url 'editar-cliente' cliente.id %}" type="button" class="btn btn-secondary">Editar</button>                    
                    </td>
                    <td>
                        <a href="" class="btn btn-danger" data-toggle="modal" data-target="#modalDeletarCliente{{cliente.id}}">Excluir</a>
                        <div class="modal fade" id="modalDeletarCliente{{cliente.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Remover Cliente</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="{% url 'deletar-cliente' cliente.id %}" method="post">{% csrf_token %}
                                        <div class="modal-body">
                                            <p> Deseja remover o cliente? </p>
                                            <p>Id: {{cliente.id}}<p>
                                            <p>Nome: {{cliente.nome}}<p>
                                        </div>    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button id="deletar-cliente" type="submit" class="btn btn-success">Confirmar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}







    

